.nav {
  background: hsl(0, 0%, 24%);
  color: #fff;
  padding: 24px 40px;
  align-items: center;


  h1 {
    font-size: 42px;
    font-family: 'Abril Fatface', cursive;
  }

  a {
    font-size: 24px;
    color: #fefefe;
  }

  a.button {
    border-radius: 99px;
    padding: 6px 24px;
    background-color: #fefefe;
    color: #000;
  }

  * {
    margin: 10px 20px;
  }

  // drop shadow
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  margin-bottom: 0rem;
}
